<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
    <title>Vége</title>
    <style>
        body {
            background-color: #181a19;
            color: white;
            text-align: center;
            font-size: 18px;
            margin-top: 10vh;
            font-family: Arial, sans-serif;
        }
        header {
            font-size: 42px;
            text-align: center;
            color: white;
            padding: 20px 0;
        }
    </style>
</head>
<body>
    <header>Vége</header>
        <p></p>
        <p>Köszönjük, hogy végigjátszottad!</p>
        <p>Reméljük tetszett!</p>
        <br>
        <p>Feladatokat készítette: Kohút Lora</p>
        <p>Weboldalt készítette: Hegyi Erik</p>
    </div>
</body>
</html>
